.modalBackdrop {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modalMain {
  position: fixed;
  background: var(--white);
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 10;
  border-radius: 20px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: #fff;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.modalContent {
  max-height: 70vh;
  overflow-y: auto;

  .modalTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 18px;
      margin-bottom: 5px;
      margin-left: 14px;
    }

    input {
      margin-bottom: 10px;
      min-height: 60px;
      padding: 0 14px;
      font-size: 20px;
      text-overflow: ellipsis;
      border: 1px solid rgb(141, 141, 141);
      border-radius: 10px;
      transition: border-color 0.43s;
    }

    .btn {
      padding: 12px;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
      transition: all 200ms linear;
      color: var(--black, #000);
      border: 2px solid var(--blue, #06d);
      font-size: 20px;
      font-weight: 500;
      max-height: 56px;
      min-width: 120px;
      text-transform: capitalize;
      margin-top: 30px;

      &:hover,
      &:focus {
        background: var(--black, #000);
        border: 2px solid var(--black, #000);
        color: var(--white, #fff);
      }
    }
  }
}
